:root {
    --storesecondary: #385c80;
}

.bg-storesecondary {
    background: var(--storesecondary);
}

.catalogue__list-item {
    cursor: pointer
}

.catalogue__list-item:hover {
    background: var(--storesecondary);
} 