.tree-element {
    margin: 0;
    position: relative;
  }

.tree-element-hover {
    background-color: lightgrey;
}
  
  div.tree-element:before {
    content: '';
    position: absolute;
    top: 24px;
    left: 1px;
    height: calc(100% - 24px);
    border-left: 1px solid gray;
  }
  
  .toggler {
    position: absolute;
    top: 12px;
    left: 2px;
    display: inline-block;
    cursor: pointer;
    transform: rotate(45deg);
  }
  
  .toggler.closed {
    transform: rotate(90deg);
  }
  
  .collapsed {
    display: none;
  }