.shopping-backet-header_size-l {
    font-size: 2em;
}

.shopping-backet-header_color-grey {
    color: var(--gray);
}

.shopping-backet-header_color-grey:hover {
    color: var(--gray-dark);
    cursor: pointer;
}

.shopping-backet-header__notification-number {
    position: relative;
    box-sizing: border-box;
    bottom: -15px;
    left: -10px;
    width: 1.3em;
    height: 1.3em;
    background: var(--red);
    border-radius: 50%;
    font-size: 1em;
    font-weight: 600;
    color: var(--white);
}

.shopping-backet-header__notification-number_hidden {
    visibility: hidden;
}